{% if unit is defined and unit %}
    <div class="unit-card">
        <ul class="unit-stats">
            <li>Vitalité : {{ unit.vita }}</li>
            <li>Initiative : {{ unit.initiative }}</li>
            <li>Attaque : {{ unit.att }}</li>
            <li>Mana : {{ unit.mana }}</li>
        </ul>
        <p class="unit-desc">{{ unit.description }}</p>
    </div>
{% endif %}