{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user.id == team.user.id%}
        Mon île
    {% else %}
        Île de {{ user.pseudo }}
    {% endif %}
{% endblock %}

{% block body %}
    <section id="island">
        <div class="island">
            <div class="island-title">
                {% if app.user.id == team.user.id%}
                    <h2>Mon île</h2>
                {% else %}
                    <h2>Île de {{ user.pseudo }}</h2>
                {% endif %}
            </div>
            <div class="team-container">
                <div class="team-owner">
                    {% if app.user.id == team.user.id%}
                        <h2>Mon équipe</h2>
                    {% else %}
                        <h2>Équipe de {{ user.pseudo }}</h2>
                    {% endif %}
                </div>
                <div class="team-card">
                    <div class="unit-card">
                        {% if team.unitOne %}
                            <p>{{ team.unitOne.type }}</p>
                        {% else %}
                            <form>
                                <div>
                                    <label >type</label>
                                    <select name="type" hx-get="{{ path('units_colors_by_type') }}" hx-trigger="change" hx-target="#color1" hx-swap="innerHTML">
                                        {% for row in types %}
                                            <option value={{ row.type }}>{{ row.type }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div>
                                    <label>color</label>
                                    <select id="color1" name="color" hx-get="{{ path('units_colors_by_type', {type: types|first.type}) }}" hx-trigger="load" hx-swap="innerHTML">
                                    </select>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                    <div class="unit-card">
                        <form>
                            <div>
                                <label >type</label>
                                <select name="type" hx-get="{{ path('units_colors_by_type') }}" hx-trigger="change" hx-target="#color2" hx-swap="innerHTML">
                                    {% for row in types %}
                                        <option value={{ row.type }}>{{ row.type }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div>
                                <label>color</label>
                                <select id="color2" name="color" hx-get="{{ path('units_colors_by_type', {type: types|first.type}) }}" hx-trigger="load" hx-swap="innerHTML">
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="unit-card">
                        <form>
                            <div>
                                <label >type</label>
                                <select name="type" hx-get="{{ path('units_colors_by_type') }}" hx-trigger="change" hx-target="#color3" hx-swap="innerHTML">
                                    {% for row in types %}
                                        <option value={{ row.type }}>{{ row.type }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div>
                                <label>color</label>
                                <select id="color3" name="color" hx-get="{{ path('units_colors_by_type', {type: types|first.type}) }}" hx-trigger="load" hx-swap="innerHTML">
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
